.Messenger-component h2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 1.3rem;
  font-family: "Segoe IU", sans-serif;
  color: aliceblue;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px 1rem;
  margin-bottom: 0.5rem;
}
